# **Case Study #1 - Danny's Diner**

<span style="caret-color: rgb(64, 64, 64); color: rgb(64, 64, 64); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 18px; text-size-adjust: auto; background-color: rgb(255, 255, 255);">Danny seriously loves Japanese food so in the beginning of 2021, he decides to embark upon a risky venture and opens up a cute little restaurant that sells his 3 favourite foods: sushi, curry and ramen.&nbsp;<br></span> <span style="caret-color: rgb(64, 64, 64); color: rgb(64, 64, 64); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 18px; text-size-adjust: auto; background-color: rgb(255, 255, 255);">Danny wants to use the data to answer a few simple questions about his customers.&nbsp;</span> <span style="background-color: rgb(255, 255, 255); color: rgb(64, 64, 64); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 18px; caret-color: rgb(64, 64, 64);">He plans on using these insights to help him decide whether he should expand the existing customer loyalty program.</span>

<span style="background-color: rgb(255, 255, 255); color: rgb(64, 64, 64); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 18px; caret-color: rgb(64, 64, 64);"><br></span>

<span style="caret-color: rgb(64, 64, 64); color: rgb(64, 64, 64); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 18px; text-size-adjust: auto; background-color: rgb(255, 255, 255);">Danny has provided you with a sample of his overall customer data due to privacy issues - but he hopes that these examples are enough for you to write fully functioning SQL queries to help him answer his questions!</span><span style="background-color: rgb(255, 255, 255); color: rgb(64, 64, 64); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 18px; caret-color: rgb(64, 64, 64);"><br></span>

## **Example Datasets**

### **Table 1: sales**

In [ ]:
CREATE TABLE sales (
  "customer_id" VARCHAR(1),
  "order_date" DATE,
  "product_id" INTEGER
);

INSERT INTO sales
  ("customer_id", "order_date", "product_id")
VALUES
  ('A', '2021-01-01', '1'),
  ('A', '2021-01-01', '2'),
  ('A', '2021-01-07', '2'),
  ('A', '2021-01-10', '3'),
  ('A', '2021-01-11', '3'),
  ('A', '2021-01-11', '3'),
  ('B', '2021-01-01', '2'),
  ('B', '2021-01-02', '2'),
  ('B', '2021-01-04', '1'),
  ('B', '2021-01-11', '1'),
  ('B', '2021-01-16', '3'),
  ('B', '2021-02-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-07', '3');

### **Table 2: menu**

In [ ]:
CREATE TABLE menu (
  "product_id" INTEGER,
  "product_name" VARCHAR(5),
  "price" INTEGER
);

INSERT INTO menu
  ("product_id", "product_name", "price")
VALUES
  ('1', 'sushi', '10'),
  ('2', 'curry', '15'),
  ('3', 'ramen', '12');

### **Table 3: members**

In [ ]:
CREATE TABLE members (
  "customer_id" VARCHAR(1),
  "join_date" DATE
);

INSERT INTO members
  ("customer_id", "join_date")
VALUES
  ('A', '2021-01-07'),
  ('B', '2021-01-09');

## **Case Study Questions**

### 1. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">What is the total amount each customer spent at the restaurant?</span>

## **Answer -**

For this I'll need to join two tables i.e. sales and menu.  

So I constructed a view for it which can be used later.

In [ ]:
CREATE VIEW [sales with menu] as 
select s.customer_id, s.order_date, s.product_id, m.product_name, m.price from sales s inner join menu m on s.product_id = m.product_id

<span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">As we have to calcuate the total amount spent I have used&nbsp;</span> **sum()** <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">an aggregate function on price field. And I'll use </span> **GROUP BY** <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">to group them by customer_id</span>

In [4]:
select customer_id,sum(price) as amount from [sales with menu] GROUP by customer_id

customer_id,amount
A,76
B,74
C,36

2\. How many days has each customer visited the restaurant?

**ANSWER -** 

To check how many days each customer visited the restaraunt, we can use **COUNT()** on the order\_date. But, notice that there are multiple enteries for same dates. So simply using **COUNT()** won't give us the desired output. To solve this we'll use **DISTINCT()** function which will avoid the count of multiple enteries for same dates. At the end we'll use **GROUP BY()** to see check days visited for each customer.

In [5]:
select customer_id,count(distinct(order_date)) as days from [sales with menu] GROUP by customer_id

customer_id,days
A,4
B,6
C,2

3. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">What was the first item from the menu purchased by each customer?</span>

**ANSWER -**

To check the first item I have used a subquery which **partitions** data based on customer\_id and orders data by order\_date in ascending order and alots a rank to each row.   
**<mark>NOTE:-</mark>** The difference between **RANK()** and **DENSE\_RANK()** is that in <mark>RANK()</mark> ties are assigned same value but <mark>rank is skipped</mark>. <mark>DENSE\_RANK()</mark> aslo assigns same value to ties but <mark>doesn't skip rank.</mark><span style="background-color: rgb(255, 255, 0);"><br></span>This subquery is enclosed in a **WITH** block which reduces the complexity of the query hence makes it more readable. 

In line 7 dense\_rank is set to 1 as we only want the first item ordered by each customer.

In [4]:
WITH Dense_rank_number AS(
    Select *,
    DENSE_RANK() OVER(Partition by customer_id order by order_date) as dense_rank
    FROM [sales with menu]
)
select customer_id,product_name,order_date from Dense_rank_number
where dense_rank = 1

customer_id,product_name,order_date
A,sushi,2021-01-01
A,curry,2021-01-01
B,curry,2021-01-01
C,ramen,2021-01-01
C,ramen,2021-01-01

4. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">What is the most purchased item on the menu and how many times was it purchased by all customers?</span>

**ANSWER -**   

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; caret-color: rgb(64, 64, 64);">Thought this to be really easy but it turned out to be a bit tricker than expected. Used MAX(COUNT()) but came to know it's not possible to nest aggregate functions. So ordered the set <b>count()</b>&nbsp;of product_name and selected the <b>TOP 1 </b>value. Used this subquery to find the most purchased item and pass it to the <b>WHERE</b>&nbsp;clause to find the number it was ordered by each customer.&nbsp;</span>

In [9]:

select customer_id,product_name,count(customer_id) as purchased_count from [sales with menu] where product_name = (select  top 1 product_name from [sales with menu] group by product_name order by count(product_name) DESC) group by customer_id,product_name

customer_id,product_name,purchased_count
A,ramen,3
B,ramen,2
C,ramen,3

5. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Which item was the most popular for each customer?</span>

**ANSWER -**

The thing that I learnt here was that we can club multiple queries in block as subqueries provided we separate them by comma. Same concept of **DENSE\_RANK(), PARTITION BY** (explained earlier) was used here.

In [11]:
WITH question_5 as (
select customer_id, product_name, count(product_name) as pcount from [sales with menu] group by product_name, customer_id
),
Dense_rank_number AS (
    SELECT customer_id,product_name,pcount,
    DENSE_RANK() OVER (PARTITION BY customer_id order by pcount DESC) as dense_rank
    FROM question_5
    )
SELECT customer_id,product_name,pcount FROM Dense_rank_number
WHERE dense_rank = 1

customer_id,product_name,pcount
A,ramen,3
B,curry,2
B,ramen,2
B,sushi,2
C,ramen,3

6. <span style="font-size: inherit; font-family: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Which item was purchased first by the customer after they became a member?</span>

**ANSWER -**

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; caret-color: rgb(64, 64, 64);">Weird thing happened. First when using the same code it gave me an error than 'cannot convert date and/or time to string'. Searched alot but didn't find anything. Then replaced the WHEN condition with product_name = 'sushi' and ran the same code it worked. Replaced WHEN condition again with join_date and order_date condition and it worked without making any changes. STRANGE!!</span>

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; caret-color: rgb(64, 64, 64);">Now I'm not sure that should we include the orders that they made on the day when the became a member(as we can't possibly know whether the order was placed before or after signing for the membership as we dont have a time filed) but for the sake of this study I'm going to include that date.&nbsp;</span> 

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; caret-color: rgb(64, 64, 64);">Used <b>CASE STATEMENT</b>&nbsp;here to output 'Y' or 'N' for member column according to the condition.</span>

In [ ]:
--this is a view with all three tables joint which will help us further
CREATE VIEW [All Tables Joined] as 
select swm.customer_id,swm.order_date,swm.product_id,swm.product_name,swm.price,m.join_date from [sales with menu] as swm full OUTER JOIN members m on swm.customer_id = m.customer_id

In [ ]:
--this is a view for bonus question
CREATE VIEW [insights] AS
SELECT customer_id,order_date,product_name,price,
CASE 
WHEN join_date > order_date  or join_date is null  THEN 'N'
ELSE 'Y'
END AS Member
FROM [All Tables Joined]

In [14]:
WITH only_members AS(
SELECT * FROM [insights] where Member = 'Y'
),
first_order_after_membership AS(
    select *,
    DENSE_RANK() OVER(PARTITION BY customer_id order by order_date) as dense_rank
    FROM only_members
)
select customer_id,product_name 
FROM first_order_after_membership
WHERE dense_rank = 1

customer_id,product_name
A,curry
B,sushi

7. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Which item was purchased just before the customer became a member?</span>

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);"><b>ANSWER-&nbsp;</b></span> 

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);"><b><br></b></span>

In [16]:
with sales_member_data as (
    select s.customer_id,s.order_date,s.product_name,m.join_date from [sales with menu] s inner join members m on s.customer_id = m.customer_id
),
insights AS(
    SELECT customer_id,order_date,product_name,
    CASE 
    WHEN join_date > order_date  or join_date is null  THEN 'N'
    ELSE 'Y'
    END AS Member
    FROM sales_member_data
),
order_before_becoming_members as(
    select * from insights where Member = 'N'
),
last_order_before_becoming_member as (
    select *,
    DENSE_RANK() over(partition by customer_id order by order_date DESC) as dense_rank
    from order_before_becoming_members
)
select customer_id,order_date,product_name from last_order_before_becoming_member
where dense_rank = 1

customer_id,order_date,product_name
A,2021-01-01,sushi
A,2021-01-01,curry
B,2021-01-04,sushi

8. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">What is the total items and amount spent for each member before they became a member?</span>

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);"><b>ANSWER -&nbsp;</b></span>

In [17]:
with sales_member_data as (
    select s.customer_id,s.order_date,s.product_name,s.price,m.join_date from [sales with menu] s inner join members m on s.customer_id = m.customer_id
),
insights AS(
    SELECT customer_id,order_date,product_name,price,
    CASE 
    WHEN join_date > order_date  or join_date is null  THEN 'N'
    ELSE 'Y'
    END AS Member
    FROM sales_member_data
),
order_before_becoming_members as(
    select * from insights where Member = 'N'
)
select customer_id,count(product_name) as total_items,sum(price) as total_amount from order_before_becoming_members group by customer_id

customer_id,total_items,total_amount
A,2,25
B,3,40

9. <span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?</span>

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);"><b>ANSWER -&nbsp;</b></span> 

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">Generally points are calculated for members only but as it isn't specified in the question, I will be calculating points for each customer</span>

In [18]:
with points_table as(
    select * ,
    CASE
    WHEN product_name = 'sushi' THEN 20*price
    else 10*price
    END AS points
    from [sales with menu]
)
select customer_id,sum(points) as total_points from points_table group by customer_id

customer_id,total_points
A,860
B,940
C,360

10\. I<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; font-weight: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);">n the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many&nbsp; &nbsp;points do customer A and B have at the end of January?</span>

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; color: rgb(64, 64, 64); caret-color: rgb(64, 64, 64);"><b>ANSWER -&nbsp;</b></span> 

<span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-caps: inherit; caret-color: rgb(64, 64, 64);">Came across <b>DATEADD() </b>function in this question. I wanted to find the first_week end date of the customer after they became a member. You can add values by day,month,year in DATEADD().</span>

In [19]:
with sales_member_data as (
    select s.customer_id,s.order_date,s.product_name,s.price,m.join_date from [sales with menu] s inner join members m on s.customer_id = m.customer_id
),
insights AS(
    SELECT customer_id,order_date,product_name,price,join_date,
    CASE 
    WHEN join_date > order_date  or join_date is null  THEN 'N'
    ELSE 'Y'
    END AS Member
    FROM sales_member_data
),
order_before_becoming_members as(
    select * from insights where Member = 'Y'
),
points_table as(
    select *,
    CASE 
    WHEN order_date between join_date and DATEADD(DAY,7,join_date) then 20*price
    WHEN order_date > DATEADD(DAY,7,join_date) and product_name = 'sushi' then 20*price
    ELSE 10*price
    END AS points
    FROM order_before_becoming_members
)
select customer_id,sum(points) as total_points from points_table where MONTH(order_date) = 01 group by customer_id

customer_id,total_points
A,1020
B,440

## <span style="color: rgb(34, 34, 34); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 20px; font-weight: bold; text-align: center;">Join All The Things -&nbsp;</span>

In [20]:
--Already set up this view in ques. 6
select * from [insights]

customer_id,order_date,product_name,price,Member
A,2021-01-01,sushi,10,N
A,2021-01-01,curry,15,N
A,2021-01-07,curry,15,Y
A,2021-01-10,ramen,12,Y
A,2021-01-11,ramen,12,Y
A,2021-01-11,ramen,12,Y
B,2021-01-01,curry,15,N
B,2021-01-02,curry,15,N
B,2021-01-04,sushi,10,N
B,2021-01-11,sushi,10,Y
B,2021-01-16,ramen,12,Y
B,2021-02-01,ramen,12,Y
C,2021-01-01,ramen,12,N
C,2021-01-01,ramen,12,N
C,2021-01-07,ramen,12,N

## <span style="color: rgb(34, 34, 34); font-family: -system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 20px; font-weight: bold; text-align: center;">Rank All The Things -&nbsp;</span>

In [33]:
WITH rank_all AS(
    select *,
    DENSE_RANK() OVER(PARTITION BY customer_id order by order_date)  as rank
    FROM [insights]
    where Member = 'Y'
)
select * from rank_all

customer_id,order_date,product_name,price,Member,rank
A,2021-01-07,curry,15,Y,1
A,2021-01-10,ramen,12,Y,2
A,2021-01-11,ramen,12,Y,3
A,2021-01-11,ramen,12,Y,3
B,2021-01-11,sushi,10,Y,1
B,2021-01-16,ramen,12,Y,2
B,2021-02-01,ramen,12,Y,3